.footer-logo .logo-accent {
    color: #4d5ae5;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    max-width: 264px;
    color: #f4f4fd;
}