.team-bg {
    background-color: #f4f4fd;
}

.team-card .item-subtitle,
.team-card .item-text {
    text-align: center;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.section-title {
    margin-bottom: 72px;
}

.team-card {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 3 * 24px) / 4);
}

.team-img {
    display: block;
}

.team-card-content {
    padding: 32px 16px;
    text-align: center;
}

.team-card-content .item-subtitle {
    margin-bottom: 8px;
}